:root {
    --content-width: 80%;
}

@media (max-width: 500px) {
    :root {
        --content-width: 95%;
    }
}

html, body {
    background-color: hsl(200, 47%, 76%);
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

div#content {
    background-color: hsl(209, 100%, 90%);
    width: var(--content-width, 80%);
    max-width: 850px;
    margin: 20px auto;
    padding: 0 20px 100px 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 20px 0;
    margin-bottom: 0;
}

#img-div {
    width: 100%;
    margin: auto;
    background-color: hsl(209, 100%, 90%);
    text-align: center;
}

figure {
    border: 2px solid hsl(212, 55%, 54%);
    border-radius: 2%;
    margin: auto;
    max-width: 640px;
    background-color: white;
    padding: 5px 5px 0 5px;
}

figure:hover {
    transform: scale(1.01);
}

img#image {
    width: 100%;
    max-width: 640px;
    display: block;
    margin: auto;
}